*{
    padding: 0px;
    margin: 0px;
  }
  
  #header1 {
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  .ul, ol {
    list-style: none;
  }
  .nav li a {
   background-color: #16851c;
   color: #fff;
   text-decoration: none;
   padding: 10px 15px;
   display: block;
   
  }
  .nav li a:hover {
      background-color: #16851c;
  }
  .nav > li {
      float: left;
  }
  .nav li ul {
      display: none;
      position: absolute;
      min-width: 140px;
  }
  .nav li:hover > ul {
      display: block;
  }

  